
.register{
    height: 540px;
    background-image: url('../../../bannerbackground.png');
    background-size : cover;
    background-position: center center;
    background-position: center;

}
.register-form{

    width : 30%;
    margin : 20px auto;
    
}
.register-form input{
    padding :10px;
    border : none;
    margin : 10px 0px;
    background-color : #8080802b;
}