.card-image {
    height: 150px !important;
    width: 150px !important;
    margin : 5px auto;
}
.food-card{
    cursor: pointer;
    border : none !important;
    width: 28% !important; 
}

.card:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}