.food-selector{
    margin-top: 30px;
}
.food-selector nav{
    padding-left: 38% !important;
    border: none !important;
}
.food-selector nav a{

    border: none !important;

}
.nav a.active{
    border-bottom: 4px solid pink !important;
}
